---
layout: default
---

{% if page.title == "Labs" %}
<!-- Labs -->
<div class="col-sm-12">
    <div class="card-deck clean">
        {% for page in site.labs %}
        {% if page.title != title %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="icon">
                        <i class="{{ page.icon }} {{ site.data.connect.lg }}"></i>
                    </div>
                    <h2>
                        <a href="{{ site.baseurl }}{{ page.url }}" class="stretched-link">{{ page.title }}</a>
                    </h2>
                    <p class="description">{{ page.description }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% elsif page.title == "Topics" %}
<div class="col-sm-12">
    <div class="card-deck clean">
        {% for page in site.topics %}
        {% if page.title != 'Template' %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="icon">
                        <i class="{{ page.icon }} {{ site.data.connect.lg }}"></i>
                    </div>
                    <h3>
                        <a href="{{ site.baseurl }}{{ page.url }}" class="stretched-link">{{ page.title }}</a>
                    </h3>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
<!-- Features / Evergreen -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck clean">
                {% for item in site.data.icons.docs %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-body">
                            <div class="icon">
                                <i class="{{ item.icon }} {{ site.data.connect.lg }}"></i>
                            </div>
                            <h2 class="h3">
                                <a href="{{ site.baseurl }}/{{ item.parent }}" class="stretched-link">{{ item.title }}</a>
                            </h2>
                            <p class="description">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
